.referentieCt {
    .inner {
        max-width: 1032px;
        height: 400px;
        margin: 0 auto;
        .left-part {
            width: 700px;
            height: 100%;
            float: left;
            padding: 100px 50px 0;
            display: inline-block;
            background-color: #fff;
            text-align: center;
            .carousel {
                height: 100%;
                .carousel-control {
                    top: auto;
                    bottom: 20px;
                    font-size: 35px;
                    text-shadow: none;

                    &:hover {
                        .iconc-arrow-left-button .path1:before {
                            color: #be0d7e;
                        }
                        .iconc-arrow-left-button .path2:before {
                            color: #fff;
                        }

                        .iconc-arrow-right-button .path1:before {
                            color: #be0d7e;
                        }

                        .iconc-arrow-right-button .path2:before {
                            color: #fff;
                        }

                    }
                }
                .carousel-indicators {
                    bottom: 25px;
                    li {
                        width: 12px;
                        height: 12px;
                        margin-right: 7px;
                        border: 1px solid #7a7a7a;
                    }
                    .active {
                        margin-bottom: 1px;
                        background-color: #be0d7e;
                        border: 1px solid transparent;
                    }
                }
            }
            .item {
                font-size: 24px;
                color: #7a7a7a;
                line-height: 45px;
            }
            .carousel-control.left,
            .carousel-control.right {
                background-image: none;
                opacity: 1;
            }
        }
        .right-part {
            width: 330px;
            height: 100%;
            float: right;
            padding: 40px 30px 35px;
            display: inline-block;
            background-color: #009fe3;
            color: #fff;
            i.iconc-horn {
                display: block;
                font-size: 185px;
                text-align: center;
            }
            .text-part {
                padding-top: 45px;
                .naam {
                    margin-right: 40px;
                }
                span {
                    font-size: 22px;

                    > i {
                        font-size: 16px;
                        padding: 0 2px;
                    }
                }
                p {
                    font-size: 19px;
                    line-height: 25px;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991px) {
                i.iconc-horn {
                    display: inline-block;
                }
                .text-part {
                    display: inline-block;
                    padding-left: 40px;
                    padding-top: 30px;
                    vertical-align: top;
                }
            }
        }
        @media screen and (max-width: 1199px) {
            max-width: 884px;
            .left-part {
                padding: 100px 40px 0;
                width: 570px;
            }
            .right-part {
                width: 314px;
            }
        }
        @media screen and (max-width: 991px) {
            max-width: 725px;
            height: auto;

            .left-part {
                width: 100%;
                float: none;
                padding: 50px 40px 0;
                            height:309px;
                .item {
                    p{
                        padding-bottom: 90px;
                    }
                }
            }
            .right-part {
                width: 100%;
                height: auto;
                float: none;
                padding: 25px 0;
                text-align: center;
                i.iconc-horn {
                    font-size: 150px;
                }
                .text-part {
                    max-width: 270px;
                    margin: 0 auto; 
                    text-align: left;
                }
            }
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
            .left-part {
                padding: 40px 20px 20px;
                .item {
                    /*p{*/
                        font-size: 18px;
                        line-height: 35px;
                    /*}*/
                }
            }
            .right-part {
                padding: 20px 0;
                text-align: center;
                i.iconc-horn {
                    font-size: 130px;
                }
                .text-part {
                    padding: 20px 10px 0;
                }
            }
        }
    }
}


.referentie-bottomBoxCt {
    padding: 0 20px 75px;
}
@media screen and (max-width: 550px) {
    .referentie-bottomBoxCt {
        .referentie-bottomBox-btn {
            span {
                display: block;
            }
            a {
                display: inline-block;
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}
