.demoCt{
	.section-header-banner{
		.header-button{
			margin-top: 20px;
		}
	}
    .main-content{
        position: relative;
        margin-top: 150px;
        margin-bottom: -600px;
        z-index: 100; 
    }
    .left-box,
    .right-box {
        z-index: 1;
        //margin-top: -55px; 
        position: relative;
        color: $color-white;
        overflow: hidden;
        max-width:500px; 
        margin-bottom:30px;
        position:relative;
        .title{
            margin: 45px 0 45px 30px;
        }
        .content{
            font-size: 22px;
            margin: 0 30px 45px 30px;
        }
        img{
            width: 100%; 
        }

        .features{
            padding: 0 30px 45px 30px;
            .feature-item{
                margin: 0 0 15px 0;
                /*                white-space:nowrap;
                                width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;*/
                div, p{
                    display: inline-block;
                }
                .feature-img{
                    img{
                        display: block;
                        max-height: 100%;
                        max-width: 100%;
                        width: auto;
                        height: auto;
                    }
                    height: 25px;
                    width: 25px;
                    margin-right: 20px;
                    margin-top: 6px;
                    vertical-align: top;
                }
                p{
                    height: 54px;
                    max-width: 75%;
                    font-size: 19px;
                }
            }
        }
        .left .features{
            padding-right: 0;
        }
        .right .features{
            padding-left: 0;
        }
        .btn{
            display: block;
            max-width: 40%;
            margin: 0 auto 70px auto;
        }
        /*        .btn::after{
                    content:''; display:block; clear:both;
                }*/
    }
    .left-box{
        position:relative;

    }
    .right-box {
        position:relative;

    }

    @media screen and (max-width: 1200px) {
        .main-content{
            .left-box {
                max-width:426px;
                float:right;
            }
            .left-box, .right-box{
                .title{
                    margin: 45px 0 35px 30px;
                }
                .content{
                    font-size: 15px;
                    margin: 0 30px 35px 30px;
                }
                .features{
                    .feature-item{
                        .feature-img{
                            margin-right: 15px;
                        }
                        p{
                            font-size: 13px;
                            max-width: 70%;
                        }
                    }
                }
            }
            .right-box {
                max-width:426px;
                float: left;
            }
        }

    }
    @media screen and (max-width: 991px){
        .main-content{
            margin-bottom: 0;
            .left-box {
                float: right;
            }
            .right-box {
                float:left;
            }
            .btn{
                max-width: 70%;
            }
            .left .features, .right .features{
                padding: 0 30px;
                .feature-item{
                    margin: 0 0 25px 0;
                }
            }
        }
    }
    @media screen and (max-width: 767px){
        .main-content{
            .left-box,
            .right-box {
                float: none !important;
                display: block;
                margin: auto;
                max-width: 98%;
                .title{
                    margin: 45px 0 40px 20px;
                }
                .content{
                    margin: 0 15px 30px 15px;
                }
                .features{
                    .feature-item{
                        .feature-img{
                            margin-right: 22px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
            .left .features, .right .features{
                padding: 0 15px;
            }
            
            .right-box {
                margin: 10px auto;
            }

            .left-box,
            .right-box {
                .btn {
                    position: static;
                }
            }
        }
    }
}

