.partnersCt {
    .partnerBox {
        position: relative;
        max-width: 1608px;
        height: auto;
        margin: 0 auto;
        overflow: auto;
        z-index: 2;
        .partner-boxinfo {
            width: 402px;
            height: 100%;
            float: left;
            padding: 0 15px;
            font-family: 'SohoGothicStd-Regular';
            margin-top: 100px;

            .logo-block {
                position: relative;
                width: 100%;
                height: 200px;
                padding: 40px 0;
                text-align: center;
                background: #fff;

                &:before {    /* create a full-height inline block pseudo=element */
                    content: ' ';
                    display: inline-block;
                    vertical-align: middle;  /* vertical alignment of the inline element */
                    height: 100%;
                }

                img {
                    // position:absolute;
                    // top:0;
                    // bottom:0;
                    // left: 0;
                    // right: 0;
                    margin: auto;
                    display: inline-block;
                    vertical-align: middle;
                    max-height: 100%;
                }
            }
            .boxinfo {
                >.inner {
                    padding: 15px 40px 55px;
                    h2 {
                        margin: 20px 0 20px 0;
                        font-size: 22px;
                    }
                    p {
                        height: 200px;
                        font-size: 18px;
                        line-height: 22px
                    }
                }
            }
        }

        .partner-boxinfo:nth-of-type(odd) {
            a:hover {
                color: #009fe3;
                background-color: #fff;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1650px) {
            max-width: 804px;
        }
        @media screen and (max-width: 991px) {
            max-width: 740px;
            .partner-boxinfo {
                width: 370px;
                padding: 0 10px;
                .boxinfo {
                    >.inner {
                        padding: 15px 25px 60px;
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            .partner-boxinfo {
                width: 100%;
                height: 100%;
                float: none;
                margin-top: 50px;

                .logo-block {
                    img {
                        max-width: 90%;
                    }
                }

                .boxinfo {
                    >.inner {
                        padding: 15px 15px 55px;
                        p {
                            margin-bottom: 50px;
                            height: auto;
                        }
                    }

                    .btn  {
                        margin-left: 25px;
                    }
                }
            }
        }
    }


    /*.boxinfo {
        >.inner {
            padding: 0;
            h2 {
                font-size: 30px;
            }
            .logo-block {
                position: relative;
                width: 100%;
                height: 200px;
                margin: 40px 0;
                text-align: center;
                img {
                    position:absolute;
                    top:0;
                    bottom:0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .box-style1 {
                padding: 20px 40px 50px;
                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                p {
                    height: 180px;
                    font-size: 18px;
                    line-height: 22px
                }
                @media screen and (min-width: 1200px) and (max-width: 1650px) {
                    padding: 20px 20px 50px;
                    h2 {
                        min-height: 52px;
                    }
                    p {
                        height: 250px;
                    }
                }
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    padding: 20px 20px 50px;
                }
                @media screen and (max-width: 767px) {
                    padding: 20px 15px 50px;
                    p {
                        height: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }*/


   /* .box-style1 {
        width: 100%;
        height: 100%;
        padding: 60px 40px 0;
        color: #fff;
        h3 {
            margin-bottom: 40px;
        }			
        p{
            margin-bottom: 25px;
            font-size: 20px;
            font-family: 'SohoGothicStd-Regular';
            a{
                color: #fff;
                font-size: 20px;
                font-family: 'SohoGothicStd-Regular';
            }
            span {
                display: block;
            }
        }
        @media screen and (max-width: 1199px) {
            padding: 60px 26px 0;
        }
        @media screen and (max-width: 991px) {
            padding: 60px 20px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 60px 20px 40px;
        }
    }*/

    .color-boxCt {
        height: 460px;
        @media screen and (max-width: 991px) {
            height: 510px;
        }
        @media screen and (max-width: 767px) {
            height: auto;
        }
    }

}
