/*general */
$width-container:1030px;
/* start main section */
$color-white:#fff;

/* start boxes home page */
$background-color-box-left:#009fe3;
$background-color-box-right:#0063a5;
$color-title-boxes:#c0087f;
