@font-face {
  font-family: 'SohoGothicStd-Medium';
  src: url('../fonts/SohoGothicStd-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SohoGothicStd-Medium.woff') format('woff'),
       url('../fonts/SohoGothicStd-Medium.ttf')  format('truetype'),
       url('../fonts/SohoGothicStd-Medium.svg#SohoGothicStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SohoGothicStd-Regular';
  src: url('../fonts/SohoGothicStd-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SohoGothicStd-Regular.woff') format('woff'),
       url('../fonts/SohoGothicStd-Regular.ttf')  format('truetype'),
       url('../fonts/SohoGothicStd-Regular.svg#SohoGothicStd-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Calibri.woff') format('woff'),
       url('../fonts/Calibri.ttf')  format('truetype'),
       url('../fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Calibri-Italic';
  src: url('../fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Calibri-Italic.woff') format('woff'),
       url('../fonts/Calibri-Italic.ttf')  format('truetype'),
       url('../fonts/Calibri-Italic.svg#Calibri-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Calibri-Bold';
  src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Calibri-Bold.woff') format('woff'),
       url('../fonts/Calibri-Bold.ttf')  format('truetype'),
       url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Calibri-BoldItalic';
  src: url('../fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Calibri-BoldItalic.woff') format('woff'),
       url('../fonts/Calibri-BoldItalic.ttf')  format('truetype'),
       url('../fonts/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
