.block { display: block; } 
.inline { display: inline; }
.inline-block { display: inline-block; }
.table { display: table; }
.table-cell { display: table-cell; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.md-block { display: block; } 
	.md-inline { display: inline; }
	.md-inline-block { display: inline-block; }
	.md-table { display: table; }
	.md-table-cell { display: table-cell; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.sm-block { display: block; } 
	.sm-inline { display: inline; }
	.sm-inline-block { display: inline-block; }
	.sm-table { display: table; }
	.sm-table-cell { display: table-cell; }
}

@media screen and (max-width: 767px) {
	.xs-block { display: block; } 
	.xs-inline { display: inline; }
	.xs-inline-block { display: inline-block; }
	.xs-table { display: table; }
	.xs-table-cell { display: table-cell; }
}

.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.m0 {margin:0px;}
.m5 {margin:5px;}
.m10 {margin:10px;}
.m15 {margin:15px;}
.m20 {margin:20px;}
.m25 {margin:25px;}
.m30 {margin:30px;}
.m35 {margin:35px;}
.m40 {margin:40px;}
.m45 {margin:45px;}
.m50 {margin:50px;}
.m55 {margin:55px;}
.m60 {margin:60px;}
.m65 {margin:65px;}
.m70 {margin:70px;}
.m75 {margin:75px;}
.m80 {margin:80px;}
.m85 {margin:85px;}
.m90 {margin:90px;}
.m95 {margin:95px;}
.m100 {margin:100px;}

.mt0 {margin-top:0px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt55 {margin-top:55px;}
.mt60 {margin-top:60px;}
.mt65 {margin-top:65px;}
.mt70 {margin-top:70px;}
.mt75 {margin-top:75px;}
.mt80 {margin-top:80px;}
.mt85 {margin-top:85px;}
.mt90 {margin-top:90px;}
.mt95 {margin-top:95px;}
.mt100 {margin-top:100px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb55 {margin-bottom:55px;}
.mb60 {margin-bottom:60px;}
.mb65 {margin-bottom:65px;}
.mb70 {margin-bottom:70px;}
.mb75 {margin-bottom:75px;}
.mb80 {margin-bottom:80px;}
.mb85 {margin-bottom:85px;}
.mb90 {margin-bottom:90px;}
.mb95 {margin-bottom:95px;}
.mb100 {margin-bottom:100px;}

.ml0 {margin-left:0px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml40 {margin-left:40px;}
.ml45 {margin-left:45px;}
.ml50 {margin-left:50px;}
.ml55 {margin-left:55px;}
.ml60 {margin-left:60px;}
.ml65 {margin-left:65px;}
.ml70 {margin-left:70px;}
.ml75 {margin-left:75px;}
.ml80 {margin-left:80px;}
.ml85 {margin-left:85px;}
.ml90 {margin-left:90px;}
.ml95 {margin-left:95px;}
.ml100 {margin-left:100px;}

.mr0 {margin-right:0px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr40 {margin-right:40px;}
.mr45 {margin-right:45px;}
.mr50 {margin-right:50px;}
.mr55 {margin-right:55px;}
.mr60 {margin-right:60px;}
.mr65 {margin-right:65px;}
.mr70 {margin-right:70px;}
.mr75 {margin-right:75px;}
.mr80 {margin-right:80px;}
.mr85 {margin-right:85px;}
.mr90 {margin-right:90px;}
.mr95 {margin-right:95px;}
.mr100 {margin-right:100px;}

.mx0 {
	margin-left:0px;
	margin-right:0px;
}
.mx5 {
	margin-left:5px;
	margin-right:5px;
}
.mx10 {
	margin-left:10px;
	margin-right:10px;
}
.mx15 {
	margin-left:15px;
	margin-right:15px;
}
.mx20 {
	margin-left:20px;
	margin-right:20px;
}
.mx25 {
	margin-left:25px;
	margin-right:25px;
}
.mx30 {
	margin-left:30px;
	margin-right:30px;
}
.mx35 {
	margin-left:35px;
	margin-right:35px;
}
.mx40 {
	margin-left:40px;
	margin-right:40px;
}
.mx45 {
	margin-left:45px;
	margin-right:45px;
}
.mx50 {
	margin-left:50px;
	margin-right:50px;
}
.mx55 {
	margin-left:55px;
	margin-right:55px;
}
.mx60 {
	margin-left:60px;
	margin-right:60px;
}
.mx65 {
	margin-left:65px;
	margin-right:65px;
}
.mx70 {
	margin-left:70px;
	margin-right:70px;
}
.mx75 {
	margin-left:75px;
	margin-right:75px;
}
.mx80 {
	margin-left:80px;
	margin-right:80px;
}
.mx85 {
	margin-left:85px;
	margin-right:85px;
}
.mx90 {
	margin-left:90px;
	margin-right:90px;
}
.mx95 {
	margin-left:95px;
	margin-right:95px;
}
.mx100 {
	margin-left:100px;
	margin-right:100px;
}


.my0 {
	margin-top:0px;
	margin-bottom:0px;
}
.my5 {
	margin-top:5px;
	margin-bottom:5px;
}
.my10 {
	margin-top:10px;
	margin-bottom:10px;
}
.my15 {
	margin-top:15px;
	margin-bottom:15px;
}
.my20 {
	margin-top:20px;
	margin-bottom:20px;
}
.my25 {
	margin-top:25px;
	margin-bottom:25px;
}
.my30 {
	margin-top:30px;
	margin-bottom:30px;
}
.my35 {
	margin-top:35px;
	margin-bottom:35px;
}
.my40 {
	margin-top:40px;
	margin-bottom:40px;
}
.my45 {
	margin-top:45px;
	margin-bottom:45px;
}
.my50 {
	margin-top:50px;
	margin-bottom:50px;
}
.my55 {
	margin-top:55px;
	margin-bottom:55px;
}
.my60 {
	margin-top:60px;
	margin-bottom:60px;
}
.my65 {
	margin-top:65px;
	margin-bottom:65px;
}
.my70 {
	margin-top:70px;
	margin-bottom:70px;
}
.my75 {
	margin-top:75px;
	margin-bottom:75px;
}
.my80 {
	margin-top:80px;
	margin-bottom:80px;
}
.my85 {
	margin-top:85px;
	margin-bottom:85px;
}
.my90 {
	margin-top:90px;
	margin-bottom:90px;
}
.my95 {
	margin-top:95px;
	margin-bottom:95px;
}
.my100 {
	margin-top:100px;
	margin-bottom:100px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.md-ml-auto {
		margin-left: auto;
	}
	.md-mr-auto {
		margin-right: auto;
	}
	.md-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.md-m0 {margin:0px;}
	.md-m5 {margin:5px;}
	.md-m10 {margin:10px;}
	.md-m15 {margin:15px;}
	.md-m20 {margin:20px;}
	.md-m25 {margin:25px;}
	.md-m30 {margin:30px;}
	.md-m35 {margin:35px;}
	.md-m40 {margin:40px;}
	.md-m45 {margin:45px;}
	.md-m50 {margin:50px;}
	.md-m55 {margin:55px;}
	.md-m60 {margin:60px;}
	.md-m65 {margin:65px;}
	.md-m70 {margin:70px;}
	.md-m75 {margin:75px;}
	.md-m80 {margin:80px;}
	.md-m85 {margin:85px;}
	.md-m90 {margin:90px;}
	.md-m95 {margin:95px;}
	.md-m100 {margin:100px;}

	.md-mt0 {margin-top:0px;}
	.md-mt5 {margin-top:5px;}
	.md-mt10 {margin-top:10px;}
	.md-mt15 {margin-top:15px;}
	.md-mt20 {margin-top:20px;}
	.md-mt25 {margin-top:25px;}
	.md-mt30 {margin-top:30px;}
	.md-mt35 {margin-top:35px;}
	.md-mt40 {margin-top:40px;}
	.md-mt45 {margin-top:45px;}
	.md-mt50 {margin-top:50px;}
	.md-mt55 {margin-top:55px;}
	.md-mt60 {margin-top:60px;}
	.md-mt65 {margin-top:65px;}
	.md-mt70 {margin-top:70px;}
	.md-mt75 {margin-top:75px;}
	.md-mt80 {margin-top:80px;}
	.md-mt85 {margin-top:85px;}
	.md-mt90 {margin-top:90px;}
	.md-mt95 {margin-top:95px;}
	.md-mt100 {margin-top:100px;}

	.md-mb0 {margin-bottom:0px;}
	.md-mb5 {margin-bottom:5px;}
	.md-mb10 {margin-bottom:10px;}
	.md-mb15 {margin-bottom:15px;}
	.md-mb20 {margin-bottom:20px;}
	.md-mb25 {margin-bottom:25px;}
	.md-mb30 {margin-bottom:30px;}
	.md-mb35 {margin-bottom:35px;}
	.md-mb40 {margin-bottom:40px;}
	.md-mb45 {margin-bottom:45px;}
	.md-mb50 {margin-bottom:50px;}
	.md-mb55 {margin-bottom:55px;}
	.md-mb60 {margin-bottom:60px;}
	.md-mb65 {margin-bottom:65px;}
	.md-mb70 {margin-bottom:70px;}
	.md-mb75 {margin-bottom:75px;}
	.md-mb80 {margin-bottom:80px;}
	.md-mb85 {margin-bottom:85px;}
	.md-mb90 {margin-bottom:90px;}
	.md-mb95 {margin-bottom:95px;}
	.md-mb100 {margin-bottom:100px;}

	.md-ml0 {margin-left:0px;}
	.md-ml5 {margin-left:5px;}
	.md-ml10 {margin-left:10px;}
	.md-ml15 {margin-left:15px;}
	.md-ml20 {margin-left:20px;}
	.md-ml25 {margin-left:25px;}
	.md-ml30 {margin-left:30px;}
	.md-ml35 {margin-left:35px;}
	.md-ml40 {margin-left:40px;}
	.md-ml45 {margin-left:45px;}
	.md-ml50 {margin-left:50px;}
	.md-ml55 {margin-left:55px;}
	.md-ml60 {margin-left:60px;}
	.md-ml65 {margin-left:65px;}
	.md-ml70 {margin-left:70px;}
	.md-ml75 {margin-left:75px;}
	.md-ml80 {margin-left:80px;}
	.md-ml85 {margin-left:85px;}
	.md-ml90 {margin-left:90px;}
	.md-ml95 {margin-left:95px;}
	.md-ml100 {margin-left:100px;}

	.md-mr0 {margin-right:0px;}
	.md-mr5 {margin-right:5px;}
	.md-mr10 {margin-right:10px;}
	.md-mr15 {margin-right:15px;}
	.md-mr20 {margin-right:20px;}
	.md-mr25 {margin-right:25px;}
	.md-mr30 {margin-right:30px;}
	.md-mr35 {margin-right:35px;}
	.md-mr40 {margin-right:40px;}
	.md-mr45 {margin-right:45px;}
	.md-mr50 {margin-right:50px;}
	.md-mr55 {margin-right:55px;}
	.md-mr60 {margin-right:60px;}
	.md-mr65 {margin-right:65px;}
	.md-mr70 {margin-right:70px;}
	.md-mr75 {margin-right:75px;}
	.md-mr80 {margin-right:80px;}
	.md-mr85 {margin-right:85px;}
	.md-mr90 {margin-right:90px;}
	.md-mr95 {margin-right:95px;}
	.md-mr100 {margin-right:100px;}

	.md-mx0 {
		margin-left:0px;
		margin-right:0px;
	}
	.md-mx5 {
		margin-left:5px;
		margin-right:5px;
	}
	.md-mx10 {
		margin-left:10px;
		margin-right:10px;
	}
	.md-mx15 {
		margin-left:15px;
		margin-right:15px;
	}
	.md-mx20 {
		margin-left:20px;
		margin-right:20px;
	}
	.md-mx25 {
		margin-left:25px;
		margin-right:25px;
	}
	.md-mx30 {
		margin-left:30px;
		margin-right:30px;
	}
	.md-mx35 {
		margin-left:35px;
		margin-right:35px;
	}
	.md-mx40 {
		margin-left:40px;
		margin-right:40px;
	}
	.md-mx45 {
		margin-left:45px;
		margin-right:45px;
	}
	.md-mx50 {
		margin-left:50px;
		margin-right:50px;
	}
	.md-mx55 {
		margin-left:55px;
		margin-right:55px;
	}
	.md-mx60 {
		margin-left:60px;
		margin-right:60px;
	}
	.md-mx65 {
		margin-left:65px;
		margin-right:65px;
	}
	.md-mx70 {
		margin-left:70px;
		margin-right:70px;
	}
	.md-mx75 {
		margin-left:75px;
		margin-right:75px;
	}
	.md-mx80 {
		margin-left:80px;
		margin-right:80px;
	}
	.md-mx85 {
		margin-left:85px;
		margin-right:85px;
	}
	.md-mx90 {
		margin-left:90px;
		margin-right:90px;
	}
	.md-mx95 {
		margin-left:95px;
		margin-right:95px;
	}
	.md-mx100 {
		margin-left:100px;
		margin-right:100px;
	}


	.md-my0 {
		margin-top:0px;
		margin-bottom:0px;
	}
	.md-my5 {
		margin-top:5px;
		margin-bottom:5px;
	}
	.md-my10 {
		margin-top:10px;
		margin-bottom:10px;
	}
	.md-my15 {
		margin-top:15px;
		margin-bottom:15px;
	}
	.md-my20 {
		margin-top:20px;
		margin-bottom:20px;
	}
	.md-my25 {
		margin-top:25px;
		margin-bottom:25px;
	}
	.md-my30 {
		margin-top:30px;
		margin-bottom:30px;
	}
	.md-my35 {
		margin-top:35px;
		margin-bottom:35px;
	}
	.md-my40 {
		margin-top:40px;
		margin-bottom:40px;
	}
	.md-my45 {
		margin-top:45px;
		margin-bottom:45px;
	}
	.md-my50 {
		margin-top:50px;
		margin-bottom:50px;
	}
	.md-my55 {
		margin-top:55px;
		margin-bottom:55px;
	}
	.md-my60 {
		margin-top:60px;
		margin-bottom:60px;
	}
	.md-my65 {
		margin-top:65px;
		margin-bottom:65px;
	}
	.md-my70 {
		margin-top:70px;
		margin-bottom:70px;
	}
	.md-my75 {
		margin-top:75px;
		margin-bottom:75px;
	}
	.md-my80 {
		margin-top:80px;
		margin-bottom:80px;
	}
	.md-my85 {
		margin-top:85px;
		margin-bottom:85px;
	}
	.md-my90 {
		margin-top:90px;
		margin-bottom:90px;
	}
	.md-my95 {
		margin-top:95px;
		margin-bottom:95px;
	}
	.md-my100 {
		margin-top:100px;
		margin-bottom:100px;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
.sm-ml-auto {
		margin-left: auto;
	}
	.sm-mr-auto {
		margin-right: auto;
	}
	.sm-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.sm-m0 {margin:0px;}
	.sm-m5 {margin:5px;}
	.sm-m10 {margin:10px;}
	.sm-m15 {margin:15px;}
	.sm-m20 {margin:20px;}
	.sm-m25 {margin:25px;}
	.sm-m30 {margin:30px;}
	.sm-m35 {margin:35px;}
	.sm-m40 {margin:40px;}
	.sm-m45 {margin:45px;}
	.sm-m50 {margin:50px;}
	.sm-m55 {margin:55px;}
	.sm-m60 {margin:60px;}
	.sm-m65 {margin:65px;}
	.sm-m70 {margin:70px;}
	.sm-m75 {margin:75px;}
	.sm-m80 {margin:80px;}
	.sm-m85 {margin:85px;}
	.sm-m90 {margin:90px;}
	.sm-m95 {margin:95px;}
	.sm-m100 {margin:100px;}

	.sm-mt0 {margin-top:0px;}
	.sm-mt5 {margin-top:5px;}
	.sm-mt10 {margin-top:10px;}
	.sm-mt15 {margin-top:15px;}
	.sm-mt20 {margin-top:20px;}
	.sm-mt25 {margin-top:25px;}
	.sm-mt30 {margin-top:30px;}
	.sm-mt35 {margin-top:35px;}
	.sm-mt40 {margin-top:40px;}
	.sm-mt45 {margin-top:45px;}
	.sm-mt50 {margin-top:50px;}
	.sm-mt55 {margin-top:55px;}
	.sm-mt60 {margin-top:60px;}
	.sm-mt65 {margin-top:65px;}
	.sm-mt70 {margin-top:70px;}
	.sm-mt75 {margin-top:75px;}
	.sm-mt80 {margin-top:80px;}
	.sm-mt85 {margin-top:85px;}
	.sm-mt90 {margin-top:90px;}
	.sm-mt95 {margin-top:95px;}
	.sm-mt100 {margin-top:100px;}

	.sm-mb0 {margin-bottom:0px;}
	.sm-mb5 {margin-bottom:5px;}
	.sm-mb10 {margin-bottom:10px;}
	.sm-mb15 {margin-bottom:15px;}
	.sm-mb20 {margin-bottom:20px;}
	.sm-mb25 {margin-bottom:25px;}
	.sm-mb30 {margin-bottom:30px;}
	.sm-mb35 {margin-bottom:35px;}
	.sm-mb40 {margin-bottom:40px;}
	.sm-mb45 {margin-bottom:45px;}
	.sm-mb50 {margin-bottom:50px;}
	.sm-mb55 {margin-bottom:55px;}
	.sm-mb60 {margin-bottom:60px;}
	.sm-mb65 {margin-bottom:65px;}
	.sm-mb70 {margin-bottom:70px;}
	.sm-mb75 {margin-bottom:75px;}
	.sm-mb80 {margin-bottom:80px;}
	.sm-mb85 {margin-bottom:85px;}
	.sm-mb90 {margin-bottom:90px;}
	.sm-mb95 {margin-bottom:95px;}
	.sm-mb100 {margin-bottom:100px;}

	.sm-ml0 {margin-left:0px;}
	.sm-ml5 {margin-left:5px;}
	.sm-ml10 {margin-left:10px;}
	.sm-ml15 {margin-left:15px;}
	.sm-ml20 {margin-left:20px;}
	.sm-ml25 {margin-left:25px;}
	.sm-ml30 {margin-left:30px;}
	.sm-ml35 {margin-left:35px;}
	.sm-ml40 {margin-left:40px;}
	.sm-ml45 {margin-left:45px;}
	.sm-ml50 {margin-left:50px;}
	.sm-ml55 {margin-left:55px;}
	.sm-ml60 {margin-left:60px;}
	.sm-ml65 {margin-left:65px;}
	.sm-ml70 {margin-left:70px;}
	.sm-ml75 {margin-left:75px;}
	.sm-ml80 {margin-left:80px;}
	.sm-ml85 {margin-left:85px;}
	.sm-ml90 {margin-left:90px;}
	.sm-ml95 {margin-left:95px;}
	.sm-ml100 {margin-left:100px;}

	.sm-mr0 {margin-right:0px;}
	.sm-mr5 {margin-right:5px;}
	.sm-mr10 {margin-right:10px;}
	.sm-mr15 {margin-right:15px;}
	.sm-mr20 {margin-right:20px;}
	.sm-mr25 {margin-right:25px;}
	.sm-mr30 {margin-right:30px;}
	.sm-mr35 {margin-right:35px;}
	.sm-mr40 {margin-right:40px;}
	.sm-mr45 {margin-right:45px;}
	.sm-mr50 {margin-right:50px;}
	.sm-mr55 {margin-right:55px;}
	.sm-mr60 {margin-right:60px;}
	.sm-mr65 {margin-right:65px;}
	.sm-mr70 {margin-right:70px;}
	.sm-mr75 {margin-right:75px;}
	.sm-mr80 {margin-right:80px;}
	.sm-mr85 {margin-right:85px;}
	.sm-mr90 {margin-right:90px;}
	.sm-mr95 {margin-right:95px;}
	.sm-mr100 {margin-right:100px;}

	.sm-mx0 {
		margin-left:0px;
		margin-right:0px;
	}
	.sm-mx5 {
		margin-left:5px;
		margin-right:5px;
	}
	.sm-mx10 {
		margin-left:10px;
		margin-right:10px;
	}
	.sm-mx15 {
		margin-left:15px;
		margin-right:15px;
	}
	.sm-mx20 {
		margin-left:20px;
		margin-right:20px;
	}
	.sm-mx25 {
		margin-left:25px;
		margin-right:25px;
	}
	.sm-mx30 {
		margin-left:30px;
		margin-right:30px;
	}
	.sm-mx35 {
		margin-left:35px;
		margin-right:35px;
	}
	.sm-mx40 {
		margin-left:40px;
		margin-right:40px;
	}
	.sm-mx45 {
		margin-left:45px;
		margin-right:45px;
	}
	.sm-mx50 {
		margin-left:50px;
		margin-right:50px;
	}
	.sm-mx55 {
		margin-left:55px;
		margin-right:55px;
	}
	.sm-mx60 {
		margin-left:60px;
		margin-right:60px;
	}
	.sm-mx65 {
		margin-left:65px;
		margin-right:65px;
	}
	.sm-mx70 {
		margin-left:70px;
		margin-right:70px;
	}
	.sm-mx75 {
		margin-left:75px;
		margin-right:75px;
	}
	.sm-mx80 {
		margin-left:80px;
		margin-right:80px;
	}
	.sm-mx85 {
		margin-left:85px;
		margin-right:85px;
	}
	.sm-mx90 {
		margin-left:90px;
		margin-right:90px;
	}
	.sm-mx95 {
		margin-left:95px;
		margin-right:95px;
	}
	.sm-mx100 {
		margin-left:100px;
		margin-right:100px;
	}


	.sm-my0 {
		margin-top:0px;
		margin-bottom:0px;
	}
	.sm-my5 {
		margin-top:5px;
		margin-bottom:5px;
	}
	.sm-my10 {
		margin-top:10px;
		margin-bottom:10px;
	}
	.sm-my15 {
		margin-top:15px;
		margin-bottom:15px;
	}
	.sm-my20 {
		margin-top:20px;
		margin-bottom:20px;
	}
	.sm-my25 {
		margin-top:25px;
		margin-bottom:25px;
	}
	.sm-my30 {
		margin-top:30px;
		margin-bottom:30px;
	}
	.sm-my35 {
		margin-top:35px;
		margin-bottom:35px;
	}
	.sm-my40 {
		margin-top:40px;
		margin-bottom:40px;
	}
	.sm-my45 {
		margin-top:45px;
		margin-bottom:45px;
	}
	.sm-my50 {
		margin-top:50px;
		margin-bottom:50px;
	}
	.sm-my55 {
		margin-top:55px;
		margin-bottom:55px;
	}
	.sm-my60 {
		margin-top:60px;
		margin-bottom:60px;
	}
	.sm-my65 {
		margin-top:65px;
		margin-bottom:65px;
	}
	.sm-my70 {
		margin-top:70px;
		margin-bottom:70px;
	}
	.sm-my75 {
		margin-top:75px;
		margin-bottom:75px;
	}
	.sm-my80 {
		margin-top:80px;
		margin-bottom:80px;
	}
	.sm-my85 {
		margin-top:85px;
		margin-bottom:85px;
	}
	.sm-my90 {
		margin-top:90px;
		margin-bottom:90px;
	}
	.sm-my95 {
		margin-top:95px;
		margin-bottom:95px;
	}
	.sm-my100 {
		margin-top:100px;
		margin-bottom:100px;
	}
}


@media screen and (max-width: 767px) {
.xs-ml-auto {
		margin-left: auto;
	}
	.xs-mr-auto {
		margin-right: auto;
	}
	.xs-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}

	.xs-m0 {margin:0px;}
	.xs-m5 {margin:5px;}
	.xs-m10 {margin:10px;}
	.xs-m15 {margin:15px;}
	.xs-m20 {margin:20px;}
	.xs-m25 {margin:25px;}
	.xs-m30 {margin:30px;}
	.xs-m35 {margin:35px;}
	.xs-m40 {margin:40px;}
	.xs-m45 {margin:45px;}
	.xs-m50 {margin:50px;}
	.xs-m55 {margin:55px;}
	.xs-m60 {margin:60px;}
	.xs-m65 {margin:65px;}
	.xs-m70 {margin:70px;}
	.xs-m75 {margin:75px;}
	.xs-m80 {margin:80px;}
	.xs-m85 {margin:85px;}
	.xs-m90 {margin:90px;}
	.xs-m95 {margin:95px;}
	.xs-m100 {margin:100px;}

	.xs-mt0 {margin-top:0px;}
	.xs-mt5 {margin-top:5px;}
	.xs-mt10 {margin-top:10px;}
	.xs-mt15 {margin-top:15px;}
	.xs-mt20 {margin-top:20px;}
	.xs-mt25 {margin-top:25px;}
	.xs-mt30 {margin-top:30px;}
	.xs-mt35 {margin-top:35px;}
	.xs-mt40 {margin-top:40px;}
	.xs-mt45 {margin-top:45px;}
	.xs-mt50 {margin-top:50px;}
	.xs-mt55 {margin-top:55px;}
	.xs-mt60 {margin-top:60px;}
	.xs-mt65 {margin-top:65px;}
	.xs-mt70 {margin-top:70px;}
	.xs-mt75 {margin-top:75px;}
	.xs-mt80 {margin-top:80px;}
	.xs-mt85 {margin-top:85px;}
	.xs-mt90 {margin-top:90px;}
	.xs-mt95 {margin-top:95px;}
	.xs-mt100 {margin-top:100px;}

	.xs-mb0 {margin-bottom:0px;}
	.xs-mb5 {margin-bottom:5px;}
	.xs-mb10 {margin-bottom:10px;}
	.xs-mb15 {margin-bottom:15px;}
	.xs-mb20 {margin-bottom:20px;}
	.xs-mb25 {margin-bottom:25px;}
	.xs-mb30 {margin-bottom:30px;}
	.xs-mb35 {margin-bottom:35px;}
	.xs-mb40 {margin-bottom:40px;}
	.xs-mb45 {margin-bottom:45px;}
	.xs-mb50 {margin-bottom:50px;}
	.xs-mb55 {margin-bottom:55px;}
	.xs-mb60 {margin-bottom:60px;}
	.xs-mb65 {margin-bottom:65px;}
	.xs-mb70 {margin-bottom:70px;}
	.xs-mb75 {margin-bottom:75px;}
	.xs-mb80 {margin-bottom:80px;}
	.xs-mb85 {margin-bottom:85px;}
	.xs-mb90 {margin-bottom:90px;}
	.xs-mb95 {margin-bottom:95px;}
	.xs-mb100 {margin-bottom:100px;}

	.xs-ml0 {margin-left:0px;}
	.xs-ml5 {margin-left:5px;}
	.xs-ml10 {margin-left:10px;}
	.xs-ml15 {margin-left:15px;}
	.xs-ml20 {margin-left:20px;}
	.xs-ml25 {margin-left:25px;}
	.xs-ml30 {margin-left:30px;}
	.xs-ml35 {margin-left:35px;}
	.xs-ml40 {margin-left:40px;}
	.xs-ml45 {margin-left:45px;}
	.xs-ml50 {margin-left:50px;}
	.xs-ml55 {margin-left:55px;}
	.xs-ml60 {margin-left:60px;}
	.xs-ml65 {margin-left:65px;}
	.xs-ml70 {margin-left:70px;}
	.xs-ml75 {margin-left:75px;}
	.xs-ml80 {margin-left:80px;}
	.xs-ml85 {margin-left:85px;}
	.xs-ml90 {margin-left:90px;}
	.xs-ml95 {margin-left:95px;}
	.xs-ml100 {margin-left:100px;}

	.xs-mr0 {margin-right:0px;}
	.xs-mr5 {margin-right:5px;}
	.xs-mr10 {margin-right:10px;}
	.xs-mr15 {margin-right:15px;}
	.xs-mr20 {margin-right:20px;}
	.xs-mr25 {margin-right:25px;}
	.xs-mr30 {margin-right:30px;}
	.xs-mr35 {margin-right:35px;}
	.xs-mr40 {margin-right:40px;}
	.xs-mr45 {margin-right:45px;}
	.xs-mr50 {margin-right:50px;}
	.xs-mr55 {margin-right:55px;}
	.xs-mr60 {margin-right:60px;}
	.xs-mr65 {margin-right:65px;}
	.xs-mr70 {margin-right:70px;}
	.xs-mr75 {margin-right:75px;}
	.xs-mr80 {margin-right:80px;}
	.xs-mr85 {margin-right:85px;}
	.xs-mr90 {margin-right:90px;}
	.xs-mr95 {margin-right:95px;}
	.xs-mr100 {margin-right:100px;}

	.xs-mx0 {
		margin-left:0px;
		margin-right:0px;
	}
	.xs-mx5 {
		margin-left:5px;
		margin-right:5px;
	}
	.xs-mx10 {
		margin-left:10px;
		margin-right:10px;
	}
	.xs-mx15 {
		margin-left:15px;
		margin-right:15px;
	}
	.xs-mx20 {
		margin-left:20px;
		margin-right:20px;
	}
	.xs-mx25 {
		margin-left:25px;
		margin-right:25px;
	}
	.xs-mx30 {
		margin-left:30px;
		margin-right:30px;
	}
	.xs-mx35 {
		margin-left:35px;
		margin-right:35px;
	}
	.xs-mx40 {
		margin-left:40px;
		margin-right:40px;
	}
	.xs-mx45 {
		margin-left:45px;
		margin-right:45px;
	}
	.xs-mx50 {
		margin-left:50px;
		margin-right:50px;
	}
	.xs-mx55 {
		margin-left:55px;
		margin-right:55px;
	}
	.xs-mx60 {
		margin-left:60px;
		margin-right:60px;
	}
	.xs-mx65 {
		margin-left:65px;
		margin-right:65px;
	}
	.xs-mx70 {
		margin-left:70px;
		margin-right:70px;
	}
	.xs-mx75 {
		margin-left:75px;
		margin-right:75px;
	}
	.xs-mx80 {
		margin-left:80px;
		margin-right:80px;
	}
	.xs-mx85 {
		margin-left:85px;
		margin-right:85px;
	}
	.xs-mx90 {
		margin-left:90px;
		margin-right:90px;
	}
	.xs-mx95 {
		margin-left:95px;
		margin-right:95px;
	}
	.xs-mx100 {
		margin-left:100px;
		margin-right:100px;
	}


	.xs-my0 {
		margin-top:0px;
		margin-bottom:0px;
	}
	.xs-my5 {
		margin-top:5px;
		margin-bottom:5px;
	}
	.xs-my10 {
		margin-top:10px;
		margin-bottom:10px;
	}
	.xs-my15 {
		margin-top:15px;
		margin-bottom:15px;
	}
	.xs-my20 {
		margin-top:20px;
		margin-bottom:20px;
	}
	.xs-my25 {
		margin-top:25px;
		margin-bottom:25px;
	}
	.xs-my30 {
		margin-top:30px;
		margin-bottom:30px;
	}
	.xs-my35 {
		margin-top:35px;
		margin-bottom:35px;
	}
	.xs-my40 {
		margin-top:40px;
		margin-bottom:40px;
	}
	.xs-my45 {
		margin-top:45px;
		margin-bottom:45px;
	}
	.xs-my50 {
		margin-top:50px;
		margin-bottom:50px;
	}
	.xs-my55 {
		margin-top:55px;
		margin-bottom:55px;
	}
	.xs-my60 {
		margin-top:60px;
		margin-bottom:60px;
	}
	.xs-my65 {
		margin-top:65px;
		margin-bottom:65px;
	}
	.xs-my70 {
		margin-top:70px;
		margin-bottom:70px;
	}
	.xs-my75 {
		margin-top:75px;
		margin-bottom:75px;
	}
	.xs-my80 {
		margin-top:80px;
		margin-bottom:80px;
	}
	.xs-my85 {
		margin-top:85px;
		margin-bottom:85px;
	}
	.xs-my90 {
		margin-top:90px;
		margin-bottom:90px;
	}
	.xs-my95 {
		margin-top:95px;
		margin-bottom:95px;
	}
	.xs-my100 {
		margin-top:100px;
		margin-bottom:100px;
	}
	
}




.p0 {
	padding: 0px;
}

.pt0 {padding-top:0px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt45 {padding-top:45px;}
.pt50 {padding-top:50px;}
.pt55 {padding-top:55px;}
.pt60 {padding-top:60px;}
.pt65 {padding-top:65px;}
.pt70 {padding-top:70px;}
.pt75 {padding-top:75px;}
.pt80 {padding-top:80px;}
.pt85 {padding-top:85px;}
.pt90 {padding-top:90px;}
.pt95 {padding-top:95px;}
.pt100 {padding-top:100px;}

.pb0 {padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}
.pb30 {padding-bottom:30px;}
.pb35 {padding-bottom:35px;}
.pb40 {padding-bottom:40px;}
.pb45 {padding-bottom:45px;}
.pb50 {padding-bottom:50px;}
.pb55 {padding-bottom:55px;}
.pb60 {padding-bottom:60px;}
.pb65 {padding-bottom:65px;}
.pb70 {padding-bottom:70px;}
.pb75 {padding-bottom:75px;}
.pb80 {padding-bottom:80px;}
.pb85 {padding-bottom:85px;}
.pb90 {padding-bottom:90px;}
.pb95 {padding-bottom:95px;}
.pb100 {padding-bottom:100px;}

.pl0 {padding-left:0px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl35 {padding-left:35px;}
.pl40 {padding-left:40px;}
.pl45 {padding-left:45px;}
.pl50 {padding-left:50px;}
.pl55 {padding-left:55px;}
.pl60 {padding-left:60px;}
.pl65 {padding-left:65px;}
.pl70 {padding-left:70px;}
.pl75 {padding-left:75px;}
.pl80 {padding-left:80px;}
.pl85 {padding-left:85px;}
.pl90 {padding-left:90px;}
.pl95 {padding-left:95px;}
.pl100 {padding-left:100px;}

.pr0 {padding-right:0px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr35 {padding-right:35px;}
.pr40 {padding-right:40px;}
.pr45 {padding-right:45px;}
.pr50 {padding-right:50px;}
.pr55 {padding-right:55px;}
.pr60 {padding-right:60px;}
.pr65 {padding-right:65px;}
.pr70 {padding-right:70px;}
.pr75 {padding-right:75px;}
.pr80 {padding-right:80px;}
.pr85 {padding-right:85px;}
.pr90 {padding-right:90px;}
.pr95 {padding-right:95px;}
.pr100 {padding-right:100px;}

.px0 {
	padding-left:0px;
	padding-right:0px;
}
.px5 {
	padding-left:5px;
	padding-right:5px;
}
.px10 {
	padding-left:10px;
	padding-right:10px;
}

.px15 {
	padding-left:15px;
	padding-right:15px;
}

.px20 {
	padding-left:20px;
	padding-right:20px;
}
.px25 {
	padding-left:25px;
	padding-right:25px;
}
.px30 {
	padding-left:30px;
	padding-right:30px;
}
.px35 {
	padding-left:35px;
	padding-right:35px;
}
.px40 {
	padding-left:40px;
	padding-right:40px;
}
.px45 {
	padding-left:45px;
	padding-right:45px;
}

.px50 {
	padding-left:50px;
	padding-right:50px;
}
.px55 {
	padding-left:55px;
	padding-right:55px;
}
.px60 {
	padding-left:60px;
	padding-right:60px;
}
.px65 {
	padding-left:65px;
	padding-right:65px;
}
.px70 {
	padding-left:70px;
	padding-right:70px;
}
.px75 {
	padding-left:75px;
	padding-right:75px;
}
.px80 {
	padding-left:80px;
	padding-right:80px;
}
.px85 {
	padding-left:85px;
	padding-right:85px;
}
.px90 {
	padding-left:90px;
	padding-right:90px;
}
.px95 {
	padding-left:95px;
	padding-right:95px;
}
.px100 {
	padding-left:100px;
	padding-right:100px;
}


.py0 {
	padding-top:0px;
	padding-bottom:0px;
}
.py5 {
	padding-top:5px;
	padding-bottom:5px;
}
.py10 {
	padding-top:10px;
	padding-bottom:10px;
}
.py15 {
	padding-top:15px;
	padding-bottom:15px;
}
.py20 {
	padding-top:20px;
	padding-bottom:20px;
}
.py25 {
	padding-top:25px;
	padding-bottom:25px;
}
.py30 {
	padding-top:30px;
	padding-bottom:30px;
}
.py35 {
	padding-top:35px;
	padding-bottom:35px;
}
.py40 {
	padding-top:40px;
	padding-bottom:40px;
}
.py45 {
	padding-top:45px;
	padding-bottom:45px;
}
.py50 {
	padding-top:50px;
	padding-bottom:50px;
}
.py55 {
	padding-top:55px;
	padding-bottom:55px;
}
.py60 {
	padding-top:60px;
	padding-bottom:60px;
}
.py65 {
	padding-top:65px;
	padding-bottom:65px;
}
.py70 {
	padding-top:70px;
	padding-bottom:70px;
}
.py75 {
	padding-top:75px;
	padding-bottom:75px;
}
.py80 {
	padding-top:80px;
	padding-bottom:80px;
}
.py85 {
	padding-top:85px;
	padding-bottom:85px;
}
.py90 {
	padding-top:90px;
	padding-bottom:90px;
}
.py95 {
	padding-top:95px;
	padding-bottom:95px;
}
.py100 {
	padding-top:100px;
	padding-bottom:100px;
}




@media screen and (min-width: 992px) and (max-width: 1199px) {
	.md-p0 {
		padding: 0px;
	}

	.md-pt0 {padding-top:0px;}
	.md-pt5 {padding-top:5px;}
	.md-pt10 {padding-top:10px;}
	.md-pt15 {padding-top:15px;}
	.md-pt20 {padding-top:20px;}
	.md-pt25 {padding-top:25px;}
	.md-pt30 {padding-top:30px;}
	.md-pt35 {padding-top:35px;}
	.md-pt40 {padding-top:40px;}
	.md-pt45 {padding-top:45px;}
	.md-pt50 {padding-top:50px;}
	.md-pt55 {padding-top:55px;}
	.md-pt60 {padding-top:60px;}
	.md-pt65 {padding-top:65px;}
	.md-pt70 {padding-top:70px;}
	.md-pt75 {padding-top:75px;}
	.md-pt80 {padding-top:80px;}
	.md-pt85 {padding-top:85px;}
	.md-pt90 {padding-top:90px;}
	.md-pt95 {padding-top:95px;}
	.md-pt100 {padding-top:100px;}

	.md-pb0 {padding-bottom:0px;}
	.md-pb5{padding-bottom:5px;}
	.md-pb10 {padding-bottom:10px;}
	.md-pb15 {padding-bottom:15px;}
	.md-pb20 {padding-bottom:20px;}
	.md-pb25 {padding-bottom:25px;}
	.md-pb30 {padding-bottom:30px;}
	.md-pb35 {padding-bottom:35px;}
	.md-pb40 {padding-bottom:40px;}
	.md-pb45 {padding-bottom:45px;}
	.md-pb50 {padding-bottom:50px;}
	.md-pb55 {padding-bottom:55px;}
	.md-pb60 {padding-bottom:60px;}
	.md-pb65 {padding-bottom:65px;}
	.md-pb70 {padding-bottom:70px;}
	.md-pb75 {padding-bottom:75px;}
	.md-pb80 {padding-bottom:80px;}
	.md-pb85 {padding-bottom:85px;}
	.md-pb90 {padding-bottom:90px;}
	.md-pb95 {padding-bottom:95px;}
	.md-pb100 {padding-bottom:100px;}

	.md-pl0 {padding-left:0px;}
	.md-pl5 {padding-left:5px;}
	.md-pl10 {padding-left:10px;}
	.md-pl15 {padding-left:15px;}
	.md-pl20 {padding-left:20px;}
	.md-pl25 {padding-left:25px;}
	.md-pl30 {padding-left:30px;}
	.md-pl35 {padding-left:35px;}
	.md-pl40 {padding-left:40px;}
	.md-pl45 {padding-left:45px;}
	.md-pl50 {padding-left:50px;}
	.md-pl55 {padding-left:55px;}
	.md-pl60 {padding-left:60px;}
	.md-pl65 {padding-left:65px;}
	.md-pl70 {padding-left:70px;}
	.md-pl75 {padding-left:75px;}
	.md-pl80 {padding-left:80px;}
	.md-pl85 {padding-left:85px;}
	.md-pl90 {padding-left:90px;}
	.md-pl95 {padding-left:95px;}
	.md-pl100 {padding-left:100px;}

	.md-pr0 {padding-right:0px;}
	.md-pr5 {padding-right:5px;}
	.md-pr10 {padding-right:10px;}
	.md-pr15 {padding-right:15px;}
	.md-pr20 {padding-right:20px;}
	.md-pr25 {padding-right:25px;}
	.md-pr30 {padding-right:30px;}
	.md-pr35 {padding-right:35px;}
	.md-pr40 {padding-right:40px;}
	.md-pr45 {padding-right:45px;}
	.md-pr50 {padding-right:50px;}
	.md-pr55 {padding-right:55px;}
	.md-pr60 {padding-right:60px;}
	.md-pr65 {padding-right:65px;}
	.md-pr70 {padding-right:70px;}
	.md-pr75 {padding-right:75px;}
	.md-pr80 {padding-right:80px;}
	.md-pr85 {padding-right:85px;}
	.md-pr90 {padding-right:90px;}
	.md-pr95 {padding-right:95px;}
	.md-pr100 {padding-right:100px;}

	.md-px0 {
		padding-left:0px;
		padding-right:0px;
	}
	.md-px5 {
		padding-left:5px;
		padding-right:5px;
	}
	.md-px10 {
		padding-left:10px;
		padding-right:10px;
	}

	.md-px15 {
		padding-left:15px;
		padding-right:15px;
	}

	.md-px20 {
		padding-left:20px;
		padding-right:20px;
	}
	.md-px25 {
		padding-left:25px;
		padding-right:25px;
	}
	.md-px30 {
		padding-left:30px;
		padding-right:30px;
	}
	.md-px35 {
		padding-left:35px;
		padding-right:35px;
	}
	.md-px40 {
		padding-left:40px;
		padding-right:40px;
	}
	.md-px45 {
		padding-left:45px;
		padding-right:45px;
	}

	.md-px50 {
		padding-left:50px;
		padding-right:50px;
	}
	.md-px55 {
		padding-left:55px;
		padding-right:55px;
	}
	.md-px60 {
		padding-left:60px;
		padding-right:60px;
	}
	.md-px65 {
		padding-left:65px;
		padding-right:65px;
	}
	.md-px70 {
		padding-left:70px;
		padding-right:70px;
	}
	.md-px75 {
		padding-left:75px;
		padding-right:75px;
	}
	.md-px80 {
		padding-left:80px;
		padding-right:80px;
	}
	.md-px85 {
		padding-left:85px;
		padding-right:85px;
	}
	.md-px90 {
		padding-left:90px;
		padding-right:90px;
	}
	.md-px95 {
		padding-left:95px;
		padding-right:95px;
	}
	.md-px100 {
		padding-left:100px;
		padding-right:100px;
	}


	.md-py0 {
		padding-top:0px;
		padding-bottom:0px;
	}
	.md-py5 {
		padding-top:5px;
		padding-bottom:5px;
	}
	.md-py10 {
		padding-top:10px;
		padding-bottom:10px;
	}
	.md-py15 {
		padding-top:15px;
		padding-bottom:15px;
	}
	.md-py20 {
		padding-top:20px;
		padding-bottom:20px;
	}
	.md-py25 {
		padding-top:25px;
		padding-bottom:25px;
	}
	.md-py30 {
		padding-top:30px;
		padding-bottom:30px;
	}
	.md-py35 {
		padding-top:35px;
		padding-bottom:35px;
	}
	.md-py40 {
		padding-top:40px;
		padding-bottom:40px;
	}
	.md-py45 {
		padding-top:45px;
		padding-bottom:45px;
	}
	.md-py50 {
		padding-top:50px;
		padding-bottom:50px;
	}
	.md-py55 {
		padding-top:55px;
		padding-bottom:55px;
	}
	.md-py60 {
		padding-top:60px;
		padding-bottom:60px;
	}
	.md-py65 {
		padding-top:65px;
		padding-bottom:65px;
	}
	.md-py70 {
		padding-top:70px;
		padding-bottom:70px;
	}
	.md-py75 {
		padding-top:75px;
		padding-bottom:75px;
	}
	.md-py80 {
		padding-top:80px;
		padding-bottom:80px;
	}
	.md-py85 {
		padding-top:85px;
		padding-bottom:85px;
	}
	.md-py90 {
		padding-top:90px;
		padding-bottom:90px;
	}
	.md-py95 {
		padding-top:95px;
		padding-bottom:95px;
	}
	.md-py100 {
		padding-top:100px;
		padding-bottom:100px;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.sm-p0 {
		padding: 0px;
	}

	.sm-pt0 {padding-top:0px;}
	.sm-pt5 {padding-top:5px;}
	.sm-pt10 {padding-top:10px;}
	.sm-pt15 {padding-top:15px;}
	.sm-pt20 {padding-top:20px;}
	.sm-pt25 {padding-top:25px;}
	.sm-pt30 {padding-top:30px;}
	.sm-pt35 {padding-top:35px;}
	.sm-pt40 {padding-top:40px;}
	.sm-pt45 {padding-top:45px;}
	.sm-pt50 {padding-top:50px;}
	.sm-pt55 {padding-top:55px;}
	.sm-pt60 {padding-top:60px;}
	.sm-pt65 {padding-top:65px;}
	.sm-pt70 {padding-top:70px;}
	.sm-pt75 {padding-top:75px;}
	.sm-pt80 {padding-top:80px;}
	.sm-pt85 {padding-top:85px;}
	.sm-pt90 {padding-top:90px;}
	.sm-pt95 {padding-top:95px;}
	.sm-pt100 {padding-top:100px;}

	.sm-pb0 {padding-bottom:0px;}
	.sm-pb5{padding-bottom:5px;}
	.sm-pb10 {padding-bottom:10px;}
	.sm-pb15 {padding-bottom:15px;}
	.sm-pb20 {padding-bottom:20px;}
	.sm-pb25 {padding-bottom:25px;}
	.sm-pb30 {padding-bottom:30px;}
	.sm-pb35 {padding-bottom:35px;}
	.sm-pb40 {padding-bottom:40px;}
	.sm-pb45 {padding-bottom:45px;}
	.sm-pb50 {padding-bottom:50px;}
	.sm-pb55 {padding-bottom:55px;}
	.sm-pb60 {padding-bottom:60px;}
	.sm-pb65 {padding-bottom:65px;}
	.sm-pb70 {padding-bottom:70px;}
	.sm-pb75 {padding-bottom:75px;}
	.sm-pb80 {padding-bottom:80px;}
	.sm-pb85 {padding-bottom:85px;}
	.sm-pb90 {padding-bottom:90px;}
	.sm-pb95 {padding-bottom:95px;}
	.sm-pb100 {padding-bottom:100px;}

	.sm-pl0 {padding-left:0px;}
	.sm-pl5 {padding-left:5px;}
	.sm-pl10 {padding-left:10px;}
	.sm-pl15 {padding-left:15px;}
	.sm-pl20 {padding-left:20px;}
	.sm-pl25 {padding-left:25px;}
	.sm-pl30 {padding-left:30px;}
	.sm-pl35 {padding-left:35px;}
	.sm-pl40 {padding-left:40px;}
	.sm-pl45 {padding-left:45px;}
	.sm-pl50 {padding-left:50px;}
	.sm-pl55 {padding-left:55px;}
	.sm-pl60 {padding-left:60px;}
	.sm-pl65 {padding-left:65px;}
	.sm-pl70 {padding-left:70px;}
	.sm-pl75 {padding-left:75px;}
	.sm-pl80 {padding-left:80px;}
	.sm-pl85 {padding-left:85px;}
	.sm-pl90 {padding-left:90px;}
	.sm-pl95 {padding-left:95px;}
	.sm-pl100 {padding-left:100px;}

	.sm-pr0 {padding-right:0px;}
	.sm-pr5 {padding-right:5px;}
	.sm-pr10 {padding-right:10px;}
	.sm-pr15 {padding-right:15px;}
	.sm-pr20 {padding-right:20px;}
	.sm-pr25 {padding-right:25px;}
	.sm-pr30 {padding-right:30px;}
	.sm-pr35 {padding-right:35px;}
	.sm-pr40 {padding-right:40px;}
	.sm-pr45 {padding-right:45px;}
	.sm-pr50 {padding-right:50px;}
	.sm-pr55 {padding-right:55px;}
	.sm-pr60 {padding-right:60px;}
	.sm-pr65 {padding-right:65px;}
	.sm-pr70 {padding-right:70px;}
	.sm-pr75 {padding-right:75px;}
	.sm-pr80 {padding-right:80px;}
	.sm-pr85 {padding-right:85px;}
	.sm-pr90 {padding-right:90px;}
	.sm-pr95 {padding-right:95px;}
	.sm-pr100 {padding-right:100px;}

	.sm-px0 {
		padding-left:0px;
		padding-right:0px;
	}
	.sm-px5 {
		padding-left:5px;
		padding-right:5px;
	}
	.sm-px10 {
		padding-left:10px;
		padding-right:10px;
	}

	.sm-px15 {
		padding-left:15px;
		padding-right:15px;
	}

	.sm-px20 {
		padding-left:20px;
		padding-right:20px;
	}
	.sm-px25 {
		padding-left:25px;
		padding-right:25px;
	}
	.sm-px30 {
		padding-left:30px;
		padding-right:30px;
	}
	.sm-px35 {
		padding-left:35px;
		padding-right:35px;
	}
	.sm-px40 {
		padding-left:40px;
		padding-right:40px;
	}
	.sm-px45 {
		padding-left:45px;
		padding-right:45px;
	}

	.sm-px50 {
		padding-left:50px;
		padding-right:50px;
	}
	.sm-px55 {
		padding-left:55px;
		padding-right:55px;
	}
	.sm-px60 {
		padding-left:60px;
		padding-right:60px;
	}
	.sm-px65 {
		padding-left:65px;
		padding-right:65px;
	}
	.sm-px70 {
		padding-left:70px;
		padding-right:70px;
	}
	.sm-px75 {
		padding-left:75px;
		padding-right:75px;
	}
	.sm-px80 {
		padding-left:80px;
		padding-right:80px;
	}
	.sm-px85 {
		padding-left:85px;
		padding-right:85px;
	}
	.sm-px90 {
		padding-left:90px;
		padding-right:90px;
	}
	.sm-px95 {
		padding-left:95px;
		padding-right:95px;
	}
	.sm-px100 {
		padding-left:100px;
		padding-right:100px;
	}


	.sm-py0 {
		padding-top:0px;
		padding-bottom:0px;
	}
	.sm-py5 {
		padding-top:5px;
		padding-bottom:5px;
	}
	.sm-py10 {
		padding-top:10px;
		padding-bottom:10px;
	}
	.sm-py15 {
		padding-top:15px;
		padding-bottom:15px;
	}
	.sm-py20 {
		padding-top:20px;
		padding-bottom:20px;
	}
	.sm-py25 {
		padding-top:25px;
		padding-bottom:25px;
	}
	.sm-py30 {
		padding-top:30px;
		padding-bottom:30px;
	}
	.sm-py35 {
		padding-top:35px;
		padding-bottom:35px;
	}
	.sm-py40 {
		padding-top:40px;
		padding-bottom:40px;
	}
	.sm-py45 {
		padding-top:45px;
		padding-bottom:45px;
	}
	.sm-py50 {
		padding-top:50px;
		padding-bottom:50px;
	}
	.sm-py55 {
		padding-top:55px;
		padding-bottom:55px;
	}
	.sm-py60 {
		padding-top:60px;
		padding-bottom:60px;
	}
	.sm-py65 {
		padding-top:65px;
		padding-bottom:65px;
	}
	.sm-py70 {
		padding-top:70px;
		padding-bottom:70px;
	}
	.sm-py75 {
		padding-top:75px;
		padding-bottom:75px;
	}
	.sm-py80 {
		padding-top:80px;
		padding-bottom:80px;
	}
	.sm-py85 {
		padding-top:85px;
		padding-bottom:85px;
	}
	.sm-py90 {
		padding-top:90px;
		padding-bottom:90px;
	}
	.sm-py95 {
		padding-top:95px;
		padding-bottom:95px;
	}
	.sm-py100 {
		padding-top:100px;
		padding-bottom:100px;
	}

	
}

@media screen and (max-width: 767px) {
	.xs-p0 {
		padding: 0px;
	}

	.xs-pt0 {padding-top:0px;}
	.xs-pt5 {padding-top:5px;}
	.xs-pt10 {padding-top:10px;}
	.xs-pt15 {padding-top:15px;}
	.xs-pt20 {padding-top:20px;}
	.xs-pt25 {padding-top:25px;}
	.xs-pt30 {padding-top:30px;}
	.xs-pt35 {padding-top:35px;}
	.xs-pt40 {padding-top:40px;}
	.xs-pt45 {padding-top:45px;}
	.xs-pt50 {padding-top:50px;}
	.xs-pt55 {padding-top:55px;}
	.xs-pt60 {padding-top:60px;}
	.xs-pt65 {padding-top:65px;}
	.xs-pt70 {padding-top:70px;}
	.xs-pt75 {padding-top:75px;}
	.xs-pt80 {padding-top:80px;}
	.xs-pt85 {padding-top:85px;}
	.xs-pt90 {padding-top:90px;}
	.xs-pt95 {padding-top:95px;}
	.xs-pt100 {padding-top:100px;}

	.xs-pb0 {padding-bottom:0px;}
	.xs-pb5{padding-bottom:5px;}
	.xs-pb10 {padding-bottom:10px;}
	.xs-pb15 {padding-bottom:15px;}
	.xs-pb20 {padding-bottom:20px;}
	.xs-pb25 {padding-bottom:25px;}
	.xs-pb30 {padding-bottom:30px;}
	.xs-pb35 {padding-bottom:35px;}
	.xs-pb40 {padding-bottom:40px;}
	.xs-pb45 {padding-bottom:45px;}
	.xs-pb50 {padding-bottom:50px;}
	.xs-pb55 {padding-bottom:55px;}
	.xs-pb60 {padding-bottom:60px;}
	.xs-pb65 {padding-bottom:65px;}
	.xs-pb70 {padding-bottom:70px;}
	.xs-pb75 {padding-bottom:75px;}
	.xs-pb80 {padding-bottom:80px;}
	.xs-pb85 {padding-bottom:85px;}
	.xs-pb90 {padding-bottom:90px;}
	.xs-pb95 {padding-bottom:95px;}
	.xs-pb100 {padding-bottom:100px;}

	.xs-pl0 {padding-left:0px;}
	.xs-pl5 {padding-left:5px;}
	.xs-pl10 {padding-left:10px;}
	.xs-pl15 {padding-left:15px;}
	.xs-pl20 {padding-left:20px;}
	.xs-pl25 {padding-left:25px;}
	.xs-pl30 {padding-left:30px;}
	.xs-pl35 {padding-left:35px;}
	.xs-pl40 {padding-left:40px;}
	.xs-pl45 {padding-left:45px;}
	.xs-pl50 {padding-left:50px;}
	.xs-pl55 {padding-left:55px;}
	.xs-pl60 {padding-left:60px;}
	.xs-pl65 {padding-left:65px;}
	.xs-pl70 {padding-left:70px;}
	.xs-pl75 {padding-left:75px;}
	.xs-pl80 {padding-left:80px;}
	.xs-pl85 {padding-left:85px;}
	.xs-pl90 {padding-left:90px;}
	.xs-pl95 {padding-left:95px;}
	.xs-pl100 {padding-left:100px;}

	.xs-pr0 {padding-right:0px;}
	.xs-pr5 {padding-right:5px;}
	.xs-pr10 {padding-right:10px;}
	.xs-pr15 {padding-right:15px;}
	.xs-pr20 {padding-right:20px;}
	.xs-pr25 {padding-right:25px;}
	.xs-pr30 {padding-right:30px;}
	.xs-pr35 {padding-right:35px;}
	.xs-pr40 {padding-right:40px;}
	.xs-pr45 {padding-right:45px;}
	.xs-pr50 {padding-right:50px;}
	.xs-pr55 {padding-right:55px;}
	.xs-pr60 {padding-right:60px;}
	.xs-pr65 {padding-right:65px;}
	.xs-pr70 {padding-right:70px;}
	.xs-pr75 {padding-right:75px;}
	.xs-pr80 {padding-right:80px;}
	.xs-pr85 {padding-right:85px;}
	.xs-pr90 {padding-right:90px;}
	.xs-pr95 {padding-right:95px;}
	.xs-pr100 {padding-right:100px;}

	.xs-px0 {
		padding-left:0px;
		padding-right:0px;
	}
	.xs-px5 {
		padding-left:5px;
		padding-right:5px;
	}
	.xs-px10 {
		padding-left:10px;
		padding-right:10px;
	}

	.xs-px15 {
		padding-left:15px;
		padding-right:15px;
	}

	.xs-px20 {
		padding-left:20px;
		padding-right:20px;
	}
	.xs-px25 {
		padding-left:25px;
		padding-right:25px;
	}
	.xs-px30 {
		padding-left:30px;
		padding-right:30px;
	}
	.xs-px35 {
		padding-left:35px;
		padding-right:35px;
	}
	.xs-px40 {
		padding-left:40px;
		padding-right:40px;
	}
	.xs-px45 {
		padding-left:45px;
		padding-right:45px;
	}

	.xs-px50 {
		padding-left:50px;
		padding-right:50px;
	}
	.xs-px55 {
		padding-left:55px;
		padding-right:55px;
	}
	.xs-px60 {
		padding-left:60px;
		padding-right:60px;
	}
	.xs-px65 {
		padding-left:65px;
		padding-right:65px;
	}
	.xs-px70 {
		padding-left:70px;
		padding-right:70px;
	}
	.xs-px75 {
		padding-left:75px;
		padding-right:75px;
	}
	.xs-px80 {
		padding-left:80px;
		padding-right:80px;
	}
	.xs-px85 {
		padding-left:85px;
		padding-right:85px;
	}
	.xs-px90 {
		padding-left:90px;
		padding-right:90px;
	}
	.xs-px95 {
		padding-left:95px;
		padding-right:95px;
	}
	.xs-px100 {
		padding-left:100px;
		padding-right:100px;
	}


	.xs-py0 {
		padding-top:0px;
		padding-bottom:0px;
	}
	.xs-py5 {
		padding-top:5px;
		padding-bottom:5px;
	}
	.xs-py10 {
		padding-top:10px;
		padding-bottom:10px;
	}
	.xs-py15 {
		padding-top:15px;
		padding-bottom:15px;
	}
	.xs-py20 {
		padding-top:20px;
		padding-bottom:20px;
	}
	.xs-py25 {
		padding-top:25px;
		padding-bottom:25px;
	}
	.xs-py30 {
		padding-top:30px;
		padding-bottom:30px;
	}
	.xs-py35 {
		padding-top:35px;
		padding-bottom:35px;
	}
	.xs-py40 {
		padding-top:40px;
		padding-bottom:40px;
	}
	.xs-py45 {
		padding-top:45px;
		padding-bottom:45px;
	}
	.xs-py50 {
		padding-top:50px;
		padding-bottom:50px;
	}
	.xs-py55 {
		padding-top:55px;
		padding-bottom:55px;
	}
	.xs-py60 {
		padding-top:60px;
		padding-bottom:60px;
	}
	.xs-py65 {
		padding-top:65px;
		padding-bottom:65px;
	}
	.xs-py70 {
		padding-top:70px;
		padding-bottom:70px;
	}
	.xs-py75 {
		padding-top:75px;
		padding-bottom:75px;
	}
	.xs-py80 {
		padding-top:80px;
		padding-bottom:80px;
	}
	.xs-py85 {
		padding-top:85px;
		padding-bottom:85px;
	}
	.xs-py90 {
		padding-top:90px;
		padding-bottom:90px;
	}
	.xs-py95 {
		padding-top:95px;
		padding-bottom:95px;
	}
	.xs-py100 {
		padding-top:100px;
		padding-bottom:100px;
	}
}


.fs10 {	font-size: 10px; }
.fs11 {	font-size: 11px; }
.fs12 {	font-size: 12px; }
.fs13 {	font-size: 13px; }
.fs14 {	font-size: 14px; }
.fs15 {	font-size: 15px; }
.fs16 {	font-size: 16px; }
.fs17 {	font-size: 17px; }
.fs18 {	font-size: 18px; }
.fs19 {	font-size: 19px; }
.fs20 {	font-size: 20px; }
.fs21 {	font-size: 21px; }
.fs22 {	font-size: 22px; }
.fs23 {	font-size: 23px; }
.fs24 {	font-size: 24px; }
.fs25 {	font-size: 25px; }
.fs26 {	font-size: 26px; }
.fs27 {	font-size: 27px; }
.fs28 {	font-size: 28px; }
.fs29 {	font-size: 29px; }
.fs30 {	font-size: 30px; }
.fs31 {	font-size: 31px; }
.fs32 {	font-size: 32px; }
.fs33 {	font-size: 33px; }
.fs34 {	font-size: 34px; }
.fs35 {	font-size: 35px; }
.fs36 {	font-size: 36px; }
.fs37 {	font-size: 37px; }
.fs38 {	font-size: 38px; }
.fs39 {	font-size: 39px; }
.fs40 {	font-size: 40px; }
.fs41 {	font-size: 41px; }
.fs42 {	font-size: 42px; }
.fs43 {	font-size: 43px; }
.fs44 {	font-size: 44px; }
.fs45 {	font-size: 45px; }
.fs46 {	font-size: 46px; }
.fs47 {	font-size: 47px; }
.fs48 {	font-size: 48px; }
.fs49 {	font-size: 49px; }
.fs50 {	font-size: 50px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.md-fs10 {	font-size: 10px; }
	.md-fs11 {	font-size: 11px; }
	.md-fs12 {	font-size: 12px; }
	.md-fs13 {	font-size: 13px; }
	.md-fs14 {	font-size: 14px; }
	.md-fs15 {	font-size: 15px; }
	.md-fs16 {	font-size: 16px; }
	.md-fs17 {	font-size: 17px; }
	.md-fs18 {	font-size: 18px; }
	.md-fs19 {	font-size: 19px; }
	.md-fs20 {	font-size: 20px; }
	.md-fs21 {	font-size: 21px; }
	.md-fs22 {	font-size: 22px; }
	.md-fs23 {	font-size: 23px; }
	.md-fs24 {	font-size: 24px; }
	.md-fs25 {	font-size: 25px; }
	.md-fs26 {	font-size: 26px; }
	.md-fs27 {	font-size: 27px; }
	.md-fs28 {	font-size: 28px; }
	.md-fs29 {	font-size: 29px; }
	.md-fs30 {	font-size: 30px; }
	.md-fs31 {	font-size: 31px; }
	.md-fs32 {	font-size: 32px; }
	.md-fs33 {	font-size: 33px; }
	.md-fs34 {	font-size: 34px; }
	.md-fs35 {	font-size: 35px; }
	.md-fs36 {	font-size: 36px; }
	.md-fs37 {	font-size: 37px; }
	.md-fs38 {	font-size: 38px; }
	.md-fs39 {	font-size: 39px; }
	.md-fs40 {	font-size: 40px; }
	.md-fs41 {	font-size: 41px; }
	.md-fs42 {	font-size: 42px; }
	.md-fs43 {	font-size: 43px; }
	.md-fs44 {	font-size: 44px; }
	.md-fs45 {	font-size: 45px; }
	.md-fs46 {	font-size: 46px; }
	.md-fs47 {	font-size: 47px; }
	.md-fs48 {	font-size: 48px; }
	.md-fs49 {	font-size: 49px; }
	.md-fs50 {	font-size: 50px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.sm-fs10 {	font-size: 10px; }
	.sm-fs11 {	font-size: 11px; }
	.sm-fs12 {	font-size: 12px; }
	.sm-fs13 {	font-size: 13px; }
	.sm-fs14 {	font-size: 14px; }
	.sm-fs15 {	font-size: 15px; }
	.sm-fs16 {	font-size: 16px; }
	.sm-fs17 {	font-size: 17px; }
	.sm-fs18 {	font-size: 18px; }
	.sm-fs19 {	font-size: 19px; }
	.sm-fs20 {	font-size: 20px; }
	.sm-fs21 {	font-size: 21px; }
	.sm-fs22 {	font-size: 22px; }
	.sm-fs23 {	font-size: 23px; }
	.sm-fs24 {	font-size: 24px; }
	.sm-fs25 {	font-size: 25px; }
	.sm-fs26 {	font-size: 26px; }
	.sm-fs27 {	font-size: 27px; }
	.sm-fs28 {	font-size: 28px; }
	.sm-fs29 {	font-size: 29px; }
	.sm-fs30 {	font-size: 30px; }
	.sm-fs31 {	font-size: 31px; }
	.sm-fs32 {	font-size: 32px; }
	.sm-fs33 {	font-size: 33px; }
	.sm-fs34 {	font-size: 34px; }
	.sm-fs35 {	font-size: 35px; }
	.sm-fs36 {	font-size: 36px; }
	.sm-fs37 {	font-size: 37px; }
	.sm-fs38 {	font-size: 38px; }
	.sm-fs39 {	font-size: 39px; }
	.sm-fs40 {	font-size: 40px; }
	.sm-fs41 {	font-size: 41px; }
	.sm-fs42 {	font-size: 42px; }
	.sm-fs43 {	font-size: 43px; }
	.sm-fs44 {	font-size: 44px; }
	.sm-fs45 {	font-size: 45px; }
	.sm-fs46 {	font-size: 46px; }
	.sm-fs47 {	font-size: 47px; }
	.sm-fs48 {	font-size: 48px; }
	.sm-fs49 {	font-size: 49px; }
	.sm-fs50 {	font-size: 50px; }	
}

@media screen and (max-width: 767px) {
	.xs-fs10 {	font-size: 10px; }
	.xs-fs11 {	font-size: 11px; }
	.xs-fs12 {	font-size: 12px; }
	.xs-fs13 {	font-size: 13px; }
	.xs-fs14 {	font-size: 14px; }
	.xs-fs15 {	font-size: 15px; }
	.xs-fs16 {	font-size: 16px; }
	.xs-fs17 {	font-size: 17px; }
	.xs-fs18 {	font-size: 18px; }
	.xs-fs19 {	font-size: 19px; }
	.xs-fs20 {	font-size: 20px; }
	.xs-fs21 {	font-size: 21px; }
	.xs-fs22 {	font-size: 22px; }
	.xs-fs23 {	font-size: 23px; }
	.xs-fs24 {	font-size: 24px; }
	.xs-fs25 {	font-size: 25px; }
	.xs-fs26 {	font-size: 26px; }
	.xs-fs27 {	font-size: 27px; }
	.xs-fs28 {	font-size: 28px; }
	.xs-fs29 {	font-size: 29px; }
	.xs-fs30 {	font-size: 30px; }
	.xs-fs31 {	font-size: 31px; }
	.xs-fs32 {	font-size: 32px; }
	.xs-fs33 {	font-size: 33px; }
	.xs-fs34 {	font-size: 34px; }
	.xs-fs35 {	font-size: 35px; }
	.xs-fs36 {	font-size: 36px; }
	.xs-fs37 {	font-size: 37px; }
	.xs-fs38 {	font-size: 38px; }
	.xs-fs39 {	font-size: 39px; }
	.xs-fs40 {	font-size: 40px; }
	.xs-fs41 {	font-size: 41px; }
	.xs-fs42 {	font-size: 42px; }
	.xs-fs43 {	font-size: 43px; }
	.xs-fs44 {	font-size: 44px; }
	.xs-fs45 {	font-size: 45px; }
	.xs-fs46 {	font-size: 46px; }
	.xs-fs47 {	font-size: 47px; }
	.xs-fs48 {	font-size: 48px; }
	.xs-fs49 {	font-size: 49px; }
	.xs-fs50 {	font-size: 50px; }
}
