<!-- USED ON Homepage -->
<section class="section-header-banner2">
	<div class="overlay"></div>
	<div class="pattern-bg"></div>
	<div class="inner">
		<div class="bgimage">
		</div>
	</div>
</section>