<!-- Used on landingspage, partners, e-learning overview, leeplatform overview -->
<section class="section-header-banner1">
	<div class="overlay"></div>
	<div class="pattern-bg"></div>
	<div class="inner">
		<div class="bgimage">
		</div>
	</div>
</section>