<section class="section-before-footer {{single_class}}">
    <div class="pattern-bg"></div>
    <div class="inner">
        <div class="bgimg" style="background-image:url('{{before_footer_single_image_url}}')">

        </div>
        <div class="content-wrapper">
            {{before_footer_single_content}}
            {{ carousel }}
        </div>
    </div>
</section>